<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjk.common.dao.DeviceMapper">
	<!-- 我的发布 -->
	<select id="myList"  resultType="com.yjk.app.vo.MyListVO">
		select b.id,b.name as device_name,b.pics,b.address,b.newstime,b.type,b.member_id,b.status,b.contact_mobile
			from 
			(
				select id,name,pics,adress as address,newstime,2 as type,status,member_id,contact_mobile from yjk_device_rental_in_need_info
				UNION ALL
				select dr.id id,de.device_name as name,de.pics,dr.address,dr.newstime, 1 as type,dr.status,dr.member_id,dr.contact_mobile from yjk_device_rent_out_info dr left join yjk_device de on dr.device_id=de.id
			) as b
			where b.member_id=#{memberId} and (b.status = 2)
			<if test="identify != null and identify != ''">
				and b.type = #{identify}
			</if>
		order by b.newstime desc
	</select>
	<!-- 我的收藏 -->
		<select id="myCollection"  resultType="com.yjk.app.vo.MyCollectionVO">
		select dc.id,b.id info_id,b.name as device_name,b.pics,b.address,b.newstime,b.type,b.member_id,b.status,b.contact_mobile
				from 
				(
					select id,name,pics,adress as address,newstime,2 as type,status,member_id,contact_mobile from yjk_device_rental_in_need_info
					UNION ALL
					select dr.id id,de.device_name as name,de.pics,dr.address,dr.newstime, 1 as type,dr.status,dr.member_id,dr.contact_mobile from yjk_device_rent_out_info dr left join yjk_device de on dr.device_id=de.id
				) as b RIGHT JOIN yjk_device_collection dc on dc.info_id = b.id
				where dc.member_id=#{memberId}
			<if test="identify != null and identify != ''">
				and b.type = #{identify}
			</if>
		order by dc.create_time desc
	</select>
	<!-- 适合我的 -->
	<select id="suitUser" resultType="com.yjk.app.vo.MyListVO">
			select b.member_id member_id,m.xcx_open_id,b.latitude,b.longitude
			from 
			(
				select id,name,pics,adress as address,newstime,2 as type,status,member_id,contact_mobile,mode_id,two_stage_mode_id,spec_id,latitude,longitude	from yjk_device_rental_in_need_info
				UNION ALL
				select dr.id id,de.device_name as name,de.pics,dr.address,dr.newstime, 1 as type,dr.status,dr.member_id,dr.contact_mobile,mode_id,two_stage_mode_id,spec_id,latitude,longitude from 			yjk_device_rent_out_info 			 dr left join yjk_device de on dr.device_id=de.id
			) as b  LEFT JOIN yjk_member m on b.member_id = m.id 
			where b.status = 2 and b.member_id != #{selfMemberId}	
						<if test="modeId != null and modeId != ''">
				and b.mode_id=#{modeId}
			</if>
			<if test="twoStageModeId != null and twoStageModeId != ''">
				and b.two_stage_mode_id=#{twoStageModeId}
			</if>
			<if test="type != null and type != ''">
				and b.type=#{type}
			</if>		
			GROUP BY b.member_id
	</select>
	<!-- 发布管理-后台功能 -->
	<select id="releaseList" resultType = "com.yjk.manager.vo.ReleaseListVO">
		select s.*,m.nick_name FROM
		(
		select r.id,r.member_id,r.address,r.newstime,device_name,d.pics,r.`status`,'1' as type,r.contact_mobile mobile from yjk_device_rent_out_info r LEFT JOIN yjk_device d on r.device_id=d.id
		UNION ALL
		select n.id,n.member_id,n.adress address,n.newstime,n.`name`,n.pics,n.`status`,'2' as type,n.contact_mobile mobile from yjk_device_rental_in_need_info n
		) s LEFT JOIN yjk_member m on s.member_id=m.id
		where s.status != 3
		<if test="keyword != null and keyword != ''">
				and (s.device_name like '%${keyword}%' or s.address like '%${keyword}%' or m.nick_name like '%${keyword}%')
		</if>
		<if test="infoType != null and infoType != ''">
				and s.type = #{infoType}
		</if>
		<if test="infoStatus != null and infoStatus != ''">
				and s.status = #{infoStatus}
		</if>
		ORDER BY s.status desc,s.newstime DESC
	</select>
</mapper>