<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjk.common.dao.admin.AdminRolePermissionMapper" >
  
  <sql id="Base_Column_List" >
      rp.id id, 
      rp.role_id roleId,
	  rp.per_id perId,
	  DATE_FORMAT(rp.create_time, '%Y-%m-%d %H:%i') createTime,
	  DATE_FORMAT(rp.update_time, '%Y-%m-%d %H:%i') updateTime
  </sql>
  
  <select id="selectByRoleId" parameterType="java.lang.Long" resultType="com.yjk.common.entity.admin.AdminRolePermission">
      select 
      <include refid="Base_Column_List" />
      from tb_admin_role_permission rp
      where rp.role_id = #{roleId}
  </select>
  
  <select id="selectByPerId" parameterType="java.lang.Long" resultType="com.yjk.common.entity.admin.AdminRolePermission">
      select 
      <include refid="Base_Column_List" />
      from tb_admin_role_permission rp
      where rp.per_id = #{perId}
  </select>
  
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
      delete from tb_admin_role_permission
      where role_id = #{roleId}
  </delete>
  
  <insert id="insertBatch" parameterType="java.util.List">
     insert into tb_admin_role_permission (role_id, per_id, create_time, update_time) 
     values  
     <foreach collection="list" item="item" index="index" separator="," >  
          (#{item.roleId}, #{item.perId}, #{item.createTime}, #{item.updateTime})  
     </foreach>  
  </insert>
</mapper>